<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    <script src="https://unpkg.com/feather-icons"></script>
    <title>Анализ расходов</title>
</head>
<body>
    <div class="central-widget">
        <div class="left-part">
            <div class="list-operation-container">
                <ul class="list-operation"></ul>
            </div>
        </div>
        <div class="right-part">
            <div class="move-money">
                <button class="move-money-btn active-mm-btn" id="costs">Расходы</button>
                <button class="move-money-btn" id="income">Зачисления</button>
            </div>
            <span id="sum">109 346 ₽</span>
            <div class="chart">
                <button class="arrow-btn" id="chart-arrow-left"><i data-feather="chevron-left"></i></button>
                <div class="chart-pie">
                    <canvas id="colorRing" width="400" height="400"></canvas>
                    <span id="colorRing-text">Декабрь, 24</span>
                </div>
                <button class="arrow-btn" id="chart-arrow-right"><i data-feather="chevron-right"></i></button>
            </div>
        </div>
    </div>
    <script>
        feather.replace();
    </script>
</body>
</html>
