name: Build and Publish Transaction Analisys

on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch:
jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    environment: docker
    env:
      IMAGE_NAME: ${{ secrets.DOCKERHUB_USERNAME }}/transaction-analisys

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to DockerHub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build (and optionally push) transaction-analisys image
        uses: docker/build-push-action@v5
        with:
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: |
            ${{ env.IMAGE_NAME }}:latest
            ${{ env.IMAGE_NAME }}:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
  deploy:
      needs: build-and-publish
      runs-on: ubuntu-latest
      steps:
        - name: Check SSH secrets presence
          run: |
            if [ -z "${{ secrets.SSH_HOST }}" ]; then echo "SSH_HOST is empty"; exit 1; fi
            if [ -z "${{ secrets.SSH_USER }}" ]; then echo "SSH_USER is empty"; exit 1; fi
            if [ -z "${{ secrets.SSH_KEY }}" ]; then echo "SSH_KEY is empty"; exit 1; fi
            echo "OK"

        - name: Deploy on Swarm manager via SSH
          uses: appleboy/ssh-action@v1.1.0
          with:
            host: ${{ secrets.SSH_HOST }}
            username: ${{ secrets.SSH_USER }}
            key: ${{ secrets.SSH_KEY }}
            port: 22
            script: |
              cd /root/Swarm
              docker pull maksimkim005/transaction-analisys:latest
              docker stack deploy -c docker-compose-transaction-analisys.yaml stage
